body {
	font-family: sans-serif;
	background-color: #333333;
}

div.container {
	border: 4px double #666666;
	background-color: #ffffff;
	margin: 20px auto;
	padding: 10px;
	
	width: 90%;
	box-shadow: 0 0 20px #000000;
}

h1 {
	font-size: 300%;
	font-weigt: normal;
	margin-top: 0;
	margin-bottom: 10px;
	
	background-image: -webkit-gradient(
		linear,
		left top, left bottom,
		from(rgba(100, 100, 100, 1)),
		to(rgba(30, 30, 30, 1))
	);
	
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h2 {
	margin-top: 50px;
	margin-bottom: 0;
}

p {
	margin-top: 0;
}

a {
	color: rgb(160, 0, 0);
}

table a {
	color: black;
	font-weight: bold;
	text-decoration: none;
}


div.sidebar {
	clear: both;
	margin-bottom: 20px;
	border: 1px solid black;
	display: inline-block;
	padding: 0;
}

div.sidebar h2 {
	background-color: #555555;
	font-weight: normal;
	color: white;
	margin: 0;
	padding: 5px;
}

div.sidebar img {
	border: 1px solid black;
	margin: 5px;
}

div.sidebar p {
	margin: 5px;
}




div.caution {
	clear: both;
	margin-bottom: 20px;
	border: 3px solid #aa0000;
	display: inline-block;
	padding: 0;
}

div.caution h2 {
	background-color: #aa0000;
	font-weight: normal;
	color: white;
	margin: 0;
	padding: 5px;
}

div.caution h2:before
{ 
	content: url("images/caution.png");
}


div.caution img {
	border: 1px solid black;
	margin: 5px;
}

div.caution p {
	margin: 5px;
}




div.figure {
	clear: both;
	margin-bottom: 20px;
	border: 2px solid black;
	display: inline-block;
	padding: 0;
}

div.figure h2 {
	border-bottom: 2px solid black;
	background-color: #555555;
	font-weight: normal;
	color: white;
	margin: 0;
	padding: 5px;
}

div.figure img {
	border: 1px solid black;
	margin: 5px;
	max-width: 95%;
}

div.figure p {
	margin: 5px;
}



pre {
	border: 1px dashed black;
	background-color: #ededed;
	padding: 10px;
	overflow-x: auto;
}


div.sidebar div.figure {
	margin: 20px;
}

div.sidebar div.figure h2 {
	font-size: 100%;
}